{% load static %}
<div class="header">
    <!-- Navbar -->
    <div class="container-fluid top">
      <div class="container">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'blog-home' %}">Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex" id="navbarNav">
            {% if user.is_authenticated %}
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'blog-home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog-about' %}">About</a>
              </li>
            </ul>
            <div class="d-flex align-items-center justify-content-center">
                <a class="mx-2 text-decoration-none" href="{% url 'blog-new' %}">+ Create Post
                </a>
                <a class="mx-2 text-decoration-none" href="{% url 'profile' %}">Profile
                </a>
                <a class="mx-2 text-decoration-none" href="{% url 'logout' %}">Logout
                </a>
            {% else %}
                <div class="ms-auto">
                <a class="mx-2 text-decoration-none" href="{% url 'login' %}">Login
                </a>
                <span class="fs-4">|</span>    
                <a class="mx-2 text-decoration-none" href="{% url 'register' %}">
                    Register
                </a>
              </div>

            {% endif %}
          </div>
        </div>
        </nav>
        <!-- Navbar End -->
      </div>
    </div>
    <!-- Navbar End -->
</div>