{% extends "blog/base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            <h4>You just logged out</h4>  
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-success" type="submit">
                <a href="{% url 'login' %}" class="text-decoration-none">Login again</a>
            </button>
        </div>
    </form>
</div>

{% endblock content %}