{% extends 'blog/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

<div class="container">
    <p class="text-center">{{ profile.message }}</p>
</div>

<div class="container">
    <div class="card text-center mt-5">
        <div class="img text-center my-2">
            <img src="{{ user.profile.image.url }}" class="card-img-top img-fluid rounded-circle" style="height: 200px; width:200px;">
        </div>
        <div class="card-body">
          <h1>{{ user.username|title }}</h1>
          <p>{{ user.email }}</p>
        </div>
        <div>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="">
                        <i class="fa-brands fa-facebook-f fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item mx-3">
                    <a href="">
                        <i class="fa-brands fa-linkedin-in fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="">
                        <i class="fa-brands fa-instagram fa-2x"></i>
                    </a>
                </li>
            </ul>
            <hr class="w-50 m-auto">

                <form method="POST" action="" class="w-50 m-auto my-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>   

                    <div class="update">
                        <button class="btn btn-outline-success w-50 my-3" type="submit">
                            <a href="{% url 'profile-update' %}">Update Profile</a>
                        </button>
                    </div>
                </form>

            
        </div>
    </div>
</div>

{% endblock content %}